<%= form_with(model: pool, local: true) do |form| %>
  <% if pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img %>
  </div>

  <div class="field">
    <%= form.label :volumen %>
    <%= form.text_field :volumen %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
