<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @pool.img %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @pool.volumen %>
</p>

<p>
  <strong>Property:</strong>
  <%= @pool.property %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
