<%= form_with(model: assessment, local: true) do |form| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>
      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Numero_tasaci칩n %>
    <%= form.number_field :number_assesment %>
  </div>

  <div class="field">
    <%= form.label :Estatado %>
    <%= form.select :state_id, State.pluck(:name,:id), promp: 'Elige Estado' %>
  </div>

  <div class="field">
    <%= form.label :Localizaci칩n %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :Inhabitada %>
    <%= form.check_box :inhabited %>
  </div>

  <div class="field">
    <%= form.label :Habitante %>
    <%= form.text_field :habitant %>
  </div>

  <div class="field">
    <%= form.label :Identidad_Cliente %>
    <%= form.select :client_id, Client.pluck(:name, :id), prompt: 'Elige Cliente' %>
  </div>

  <div class="field">
    <%= form.label :Due침o %>
    <%= form.select :owner_id,Owner.pluck(:name,:id), promp: 'Elige Due침o' %>
  </div>

  <div class="field">
    <%= form.label :Fecha_inicio %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :Fecha_termmino %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>