<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Nueva Tasación</h4>
        <p class="card-category">Completa los datos</p>                
        </div>
        <br>

          <%= form_with(model: assessment, local: true) do |form| %>
            <% if assessment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>
                <ul>
                <% assessment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <div class="card-body">
            <form>
              <div class="row">

                <div class="col-md-5">
                  <div class="form-group">
                    <%= form.label :Numero_tasación %>
                    <%= form.number_field :number_assesment, class:'form-control' %>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <%= form.label :Fecha_inicio %>
                    <%= form.date_select :start_date, class:'form-control' %>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <%= form.label :Fecha_termmino %>
                    <%= form.date_select :end_date, class:'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                  <%= form.label :Cliente %>
                  <%= form.select :client_id , Client.pluck(:name, :id), prompt: 'Elige Cliente', class:"form-control selectpicker" %>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                  <%= form.label :Habitante %>
                  <%= form.text_field :habitant, class:'form-control' %>
                  </div>
                </div>                
                
                <div class="col-md-3">
                  <div class="form-group">
                  <%= form.label :Dueño %>
                  <%= form.select :owner_id,Owner.pluck(:name,:id), prompt: 'Elige Dueño', class:'form-control' %>
                  </div>
                </div> 
              </div>   

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                  <%= form.label :Localización %>
                  <%= form.text_field :location, class:'form-control' %>
                  </div>
                </div> 
              </div> 

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                  <%= form.label :Estatado %>
                  <%= form.select :state_id, State.pluck(:name,:id), prompt: 'Elige Estado', class:'form-control'  %>
                  </div>
                </div> 

                <div class="col-md-3">
                  <div class="form-group">
                  <%= form.label :Inhabitada %>
                  <%= form.check_box :inhabited, class:'form-check-input'%>
                  </div>
                </div> 
              </div>

              <h2>Propiedades</h2>
                <%= form.fields_for :properties do |property|%>
                    <div class="properties_fields"> 
                    <div class="fields">  
                        <%= property.label :name, "Nombre de Propiedad:"%>
                        <%= property.text_field :name %><br>

                        <%= property.label :debt_taxation, "Deuda Tributaria:"%>
                        <%= property.number_field :debt_taxation %><br>

                        <%= property.label :antiquity, "Antigüedad:"%>
                        <%= property.number_field :antiquity %><br>  

                        <%= property.label :expropriation, "Expropiada:"%>
                        <%= property.check_box :expropriation %><br> 

                        <%= property.label :facilities, "Instalaciones:"%>
                        <%= property.check_box :facilities %><br>

                        <%= property.label :sill, "Solera:"%>
                        <%= property.check_box :sill %><br>
                    </div>
                    </div>
                <% end %>

               <%= form.submit 'Aceptar', class:'btn btn-primary pull-right' %>
              
              <% end %>
            </div> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>                  

                  