  <%= form_with(model: [@assessment, Property.new], local: true) do |form| %>

  <div class="field">
    <%= form.hidden_field :debt_taxation, value: 0 %>
  </div>

  <div class="field">
    <%= form.hidden_field :antiquity, value: 0 %>
  </div>

  <div class="field">
    <%= form.hidden_field :expropriation %>
  </div>

  <div class="field">
    <%= form.hidden_field :sill %>
  </div>

  <div class="field">
    <%= form.hidden_field :assessment_id, value: @assessment.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :facilities %>
  </div>

  <div class="actions">
    <%= form.submit 'Añadir Propiedad', class:'btn btn-primary' %>
  </div>
<% end %>