<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Tasaciones</h4>
        <p class="card-category">Lista de tasaciones existentes</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
                <button type="button" class="btn btn-outline-success btn-round pull-right"> <%= link_to 'Nueva Tasación', new_assessment_path if can? :create, :assessment %> </button>
                <th colspan="1"></th>
                <th>Nº Tasación</th>
                <th>Estado</th>
                <th>Dirección</th>
                <th>Fecha inicio</th>
                <th>Fecha cierre</th>
                <th colspan="2"></th>
            </thead>
            <tbody>
            
              <% @assessments.each do |assessment| %>
                <tr>
                  <td><button type="button" rel="tooltip" class="btn btn-outline-info btn-round btn-sm"><%= link_to 'Detalles', assessment if can? :read, :assessments %> </button></td>
                  <td class="text-primary"><%= assessment.number_assesment %></td>
                  <td><%= assessment.state.name %></td>
                  <td><%= assessment.location %></td>
                  <td><%= assessment.start_date %></td>
                  <td><%= assessment.end_date %></td>
                  <td><button type="button" rel="tooltip" class="btn btn-outline-warning btn-round btn-sm"><%= link_to 'Editar', edit_assessment_path(assessment) if can? :update, :assessments %> </button></td>
                  <td><button type="button" rel="tooltip" class="btn btn-outline-danger btn-round btn-sm"><%= link_to 'Eliminar', assessment, method: :delete, data: { confirm: 'Seguro que desea eliminar esta tasación?' } if can? :delete, :assessments %> </button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= paginate @assessments %>
<br>

