<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de tasación:</strong>
  <%= @assessment.number_assesment %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @assessment.state.name%>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @assessment.location %>
</p>

<p>
  <strong>Inhabitada:</strong>
  <%= @assessment.inhabited %>
</p>

<p>
  <strong>Habitante:</strong>
  <%= @assessment.habitant %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @assessment.client.name%>
</p>

<p>
  <strong>Dueño:</strong>
  <%= @assessment.owner.name%>
</p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @assessment.start_date %>
</p>

<p>
  <strong>Fecha de Termino:</strong>
  <%= @assessment.end_date %>
</p>


<h2> Propiedades: </h2>

<% @assessment.properties.each do |property| %>
  <ul>
    <li> <%= property.id%> </li>
  </ul>
<% end%>
<%= render 'new_property.html', assessment: @assessment %>

<%= link_to 'Editar', edit_assessment_path(@assessment) %> |
<%= link_to 'Volver', assessments_path %>