<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de tasación:</strong>
  <%= @assessment.number_assesment %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @assessment.state.name%>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @assessment.location %>
</p>

<p>
  <strong>Inhabitada:</strong>
  <%= @assessment.inhabited %>
</p>

<p>
  <strong>Habitante:</strong>
  <%= @assessment.habitant %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @assessment.client.name%>
</p>

<p>
  <strong>Dueño:</strong>
  <%= @assessment.owner.name%>
</p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @assessment.start_date %>
</p>

<p>
  <strong>Fecha de Termino:</strong>
  <%= @assessment.end_date %>
</p>


<h2> Propiedades: </h2>

  <table class="table">
    <table>
      <thead>
        <th>Id Propiedad</th>
      </thead>
      <tbody>
        <% @assessment.properties.each do |property| %>
          <tr>
            <td> <%=property.id%></td>
            <td><%= link_to 'Detalles', assessment_property_path(@assessment.property_ids) %></td>
          </tr> 
         <%end%> 
      </tbody>
    </table>
  </table>
<%= render 'new_property.html', assessment: @assessment %>

<%= link_to 'Editar', edit_assessment_path(@assessment) %> |
<%= link_to 'Volver', assessments_path %>