<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @closet.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @closet.value %>
</p>

<%= link_to 'Edit', edit_closet_path(@closet) %> |
<%= link_to 'Back', closets_path %>
