<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_ga.property %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @property_ga.gas %>
</p>

<%= link_to 'Edit', edit_property_ga_path(@property_ga) %> |
<%= link_to 'Back', property_gas_path %>
