<%= form_with(model: drinking_water, local: true) do |form| %>
  <% if drinking_water.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drinking_water.errors.count, "error") %> prohibited this drinking_water from being saved:</h2>

      <ul>
      <% drinking_water.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
