<p id="notice"><%= notice %></p>

<h1>Property Electricities</h1>

<table>
  <thead>
    <tr>
      <th>Electricity</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_electricities.each do |property_electricity| %>
      <tr>
        <td><%= property_electricity.electricity %></td>
        <td><%= property_electricity.property %></td>
        <td><%= link_to 'Show', property_electricity %></td>
        <td><%= link_to 'Edit', edit_property_electricity_path(property_electricity) %></td>
        <td><%= link_to 'Destroy', property_electricity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Electricity', new_property_electricity_path %>
