<h2>Reenviar instrucciones de confirmaci贸n</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Correo_Electr贸nico %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Correo electr贸nico", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar instrucciones de confirmaci贸n" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
