<%= form_with(model: interior_closure, local: true) do |form| %>
  <% if interior_closure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interior_closure.errors.count, "error") %> prohibited this interior_closure from being saved:</h2>

      <ul>
      <% interior_closure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
