<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interior_closure.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @interior_closure.value %>
</p>

<%= link_to 'Edit', edit_interior_closure_path(@interior_closure) %> |
<%= link_to 'Back', interior_closures_path %>
