<%= form_with(model: side_walk, local: true) do |form| %>
  <% if side_walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(side_walk.errors.count, "error") %> prohibited this side_walk from being saved:</h2>

      <ul>
      <% side_walk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
