<p id="notice"><%= notice %></p>

<h1>Side Walks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @side_walks.each do |side_walk| %>
      <tr>
        <td><%= side_walk.name %></td>
        <td><%= side_walk.value %></td>
        <td><%= link_to 'Show', side_walk %></td>
        <td><%= link_to 'Edit', edit_side_walk_path(side_walk) %></td>
        <td><%= link_to 'Destroy', side_walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Side Walk', new_side_walk_path %>
