<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @side_walk.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @side_walk.value %>
</p>

<%= link_to 'Edit', edit_side_walk_path(@side_walk) %> |
<%= link_to 'Back', side_walks_path %>
