<p id="notice"><%= notice %></p>

<h1>Water Rain Ducts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @water_rain_ducts.each do |water_rain_duct| %>
      <tr>
        <td><%= water_rain_duct.name %></td>
        <td><%= water_rain_duct.value %></td>
        <td><%= link_to 'Show', water_rain_duct %></td>
        <td><%= link_to 'Edit', edit_water_rain_duct_path(water_rain_duct) %></td>
        <td><%= link_to 'Destroy', water_rain_duct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water Rain Duct', new_water_rain_duct_path %>
