<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @water_rain_duct.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @water_rain_duct.value %>
</p>

<%= link_to 'Edit', edit_water_rain_duct_path(@water_rain_duct) %> |
<%= link_to 'Back', water_rain_ducts_path %>
