<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_land_shape.property %>
</p>

<p>
  <strong>Land shape:</strong>
  <%= @property_land_shape.land_shape %>
</p>

<%= link_to 'Edit', edit_property_land_shape_path(@property_land_shape) %> |
<%= link_to 'Back', property_land_shapes_path %>
