<p id="notice"><%= notice %></p>

<h1>Property Enlar Qualities</h1>

<table>
  <thead>
    <tr>
      <th>Enlargements quality</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_enlar_qualities.each do |property_enlar_quality| %>
      <tr>
        <td><%= property_enlar_quality.enlargements_quality %></td>
        <td><%= property_enlar_quality.property %></td>
        <td><%= link_to 'Show', property_enlar_quality %></td>
        <td><%= link_to 'Edit', edit_property_enlar_quality_path(property_enlar_quality) %></td>
        <td><%= link_to 'Destroy', property_enlar_quality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Enlar Quality', new_property_enlar_quality_path %>
