<p id="notice"><%= notice %></p>

<p>
  <strong>Enlargements quality:</strong>
  <%= @property_enlar_quality.enlargements_quality %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_enlar_quality.property %>
</p>

<%= link_to 'Edit', edit_property_enlar_quality_path(@property_enlar_quality) %> |
<%= link_to 'Back', property_enlar_qualities_path %>
