<p id="notice"><%= notice %></p>

<h1>Owners</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.name %></td>
        <td><%= owner.rut %></td>
        <td><%= link_to 'Detalle', owner %></td>
        <td><%= link_to 'Editar', edit_owner_path(owner) %></td>
        <td><%= link_to 'Eliminar', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Dueño', new_owner_path %>
