<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @owner.rut %>
</p>

<%= link_to 'Editar', edit_owner_path(@owner) %> |
<%= link_to 'Volver', owners_path %>
