<%= form_with(model: housing_quality, local: true) do |form| %>
  <% if housing_quality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(housing_quality.errors.count, "error") %> prohibited this housing_quality from being saved:</h2>

      <ul>
      <% housing_quality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
