<p id="notice"><%= notice %></p>

<h1>Toilet Artifacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toilet_artifacts.each do |toilet_artifact| %>
      <tr>
        <td><%= toilet_artifact.name %></td>
        <td><%= toilet_artifact.value %></td>
        <td><%= link_to 'Show', toilet_artifact %></td>
        <td><%= link_to 'Edit', edit_toilet_artifact_path(toilet_artifact) %></td>
        <td><%= link_to 'Destroy', toilet_artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toilet Artifact', new_toilet_artifact_path %>
