<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toilet_artifact.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @toilet_artifact.value %>
</p>

<%= link_to 'Edit', edit_toilet_artifact_path(@toilet_artifact) %> |
<%= link_to 'Back', toilet_artifacts_path %>
