<p id="notice"><%= notice %></p>

<h1>Property Street Locations</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Street location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_street_locations.each do |property_street_location| %>
      <tr>
        <td><%= property_street_location.property %></td>
        <td><%= property_street_location.street_location %></td>
        <td><%= link_to 'Show', property_street_location %></td>
        <td><%= link_to 'Edit', edit_property_street_location_path(property_street_location) %></td>
        <td><%= link_to 'Destroy', property_street_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Street Location', new_property_street_location_path %>
