<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_street_location.property %>
</p>

<p>
  <strong>Street location:</strong>
  <%= @property_street_location.street_location %>
</p>

<%= link_to 'Edit', edit_property_street_location_path(@property_street_location) %> |
<%= link_to 'Back', property_street_locations_path %>
