<%= form_with(model: property_water_rain_duct, local: true) do |form| %>
  <% if property_water_rain_duct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_water_rain_duct.errors.count, "error") %> prohibited this property_water_rain_duct from being saved:</h2>

      <ul>
      <% property_water_rain_duct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :water_rain_duct_id %>
    <%= form.text_field :water_rain_duct_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
