<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_water_rain_duct.property %>
</p>

<p>
  <strong>Water rain duct:</strong>
  <%= @property_water_rain_duct.water_rain_duct %>
</p>

<%= link_to 'Edit', edit_property_water_rain_duct_path(@property_water_rain_duct) %> |
<%= link_to 'Back', property_water_rain_ducts_path %>
