<p id="notice"><%= notice %></p>

<p>
  <strong>Property type:</strong>
  <%= @property_property_type.property_type %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_property_type.property %>
</p>

<p>
  <strong>Sites:</strong>
  <%= @property_property_type.sites %>
</p>

<%= link_to 'Edit', edit_property_property_type_path(@property_property_type) %> |
<%= link_to 'Back', property_property_types_path %>
