<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @between_floor_slap.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @between_floor_slap.value %>
</p>

<%= link_to 'Edit', edit_between_floor_slap_path(@between_floor_slap) %> |
<%= link_to 'Back', between_floor_slaps_path %>
