<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_stair.property %>
</p>

<p>
  <strong>Stair:</strong>
  <%= @property_stair.stair %>
</p>

<%= link_to 'Edit', edit_property_stair_path(@property_stair) %> |
<%= link_to 'Back', property_stairs_path %>
