<p id="notice"><%= notice %></p>

<p>
  <strong>Dry wall:</strong>
  <%= @property_dry_wall.dry_wall %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_dry_wall.property %>
</p>

<p>
  <strong>Other:</strong>
  <%= @property_dry_wall.other %>
</p>

<%= link_to 'Edit', edit_property_dry_wall_path(@property_dry_wall) %> |
<%= link_to 'Back', property_dry_walls_path %>
