<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sewerage.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sewerage.value %>
</p>

<%= link_to 'Edit', edit_sewerage_path(@sewerage) %> |
<%= link_to 'Back', sewerages_path %>
