<p id="notice"><%= notice %></p>

<p>
  <strong>Drinking water:</strong>
  <%= @property_drinking_water.drinking_water %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_drinking_water.property %>
</p>

<%= link_to 'Edit', edit_property_drinking_water_path(@property_drinking_water) %> |
<%= link_to 'Back', property_drinking_waters_path %>
