<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cover.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cover.value %>
</p>

<%= link_to 'Edit', edit_cover_path(@cover) %> |
<%= link_to 'Back', covers_path %>
