<%= form_with(model: property_window, local: true) do |form| %>
  <% if property_window.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_window.errors.count, "error") %> prohibited this property_window from being saved:</h2>

      <ul>
      <% property_window.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :window_id %>
    <%= form.text_field :window_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.text_field :other %>
  </div>

  <div class="field">
    <%= form.label :protections %>
    <%= form.check_box :protections %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
