<p id="notice"><%= notice %></p>

<p>
  <strong>Window:</strong>
  <%= @property_window.window %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_window.property %>
</p>

<p>
  <strong>Other:</strong>
  <%= @property_window.other %>
</p>

<p>
  <strong>Protections:</strong>
  <%= @property_window.protections %>
</p>

<%= link_to 'Edit', edit_property_window_path(@property_window) %> |
<%= link_to 'Back', property_windows_path %>
