<p id="notice"><%= notice %></p>

<h1>Property Exterior Closures</h1>

<table>
  <thead>
    <tr>
      <th>Other</th>
      <th>Property</th>
      <th>Exterior closure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_exterior_closures.each do |property_exterior_closure| %>
      <tr>
        <td><%= property_exterior_closure.other %></td>
        <td><%= property_exterior_closure.property %></td>
        <td><%= property_exterior_closure.exterior_closure %></td>
        <td><%= link_to 'Show', property_exterior_closure %></td>
        <td><%= link_to 'Edit', edit_property_exterior_closure_path(property_exterior_closure) %></td>
        <td><%= link_to 'Destroy', property_exterior_closure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Exterior Closure', new_property_exterior_closure_path %>
