<p id="notice"><%= notice %></p>

<p>
  <strong>Other:</strong>
  <%= @property_exterior_closure.other %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_exterior_closure.property %>
</p>

<p>
  <strong>Exterior closure:</strong>
  <%= @property_exterior_closure.exterior_closure %>
</p>

<%= link_to 'Edit', edit_property_exterior_closure_path(@property_exterior_closure) %> |
<%= link_to 'Back', property_exterior_closures_path %>
