<p id="notice"><%= notice %></p>

<h1>Roofings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roofings.each do |roofing| %>
      <tr>
        <td><%= roofing.name %></td>
        <td><%= roofing.value %></td>
        <td><%= link_to 'Show', roofing %></td>
        <td><%= link_to 'Edit', edit_roofing_path(roofing) %></td>
        <td><%= link_to 'Destroy', roofing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roofing', new_roofing_path %>
