<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roofing.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @roofing.value %>
</p>

<%= link_to 'Edit', edit_roofing_path(@roofing) %> |
<%= link_to 'Back', roofings_path %>
