<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exterior_closure.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @exterior_closure.value %>
</p>

<%= link_to 'Edit', edit_exterior_closure_path(@exterior_closure) %> |
<%= link_to 'Back', exterior_closures_path %>
