<%= form_with(model: property, local: true, url: [property.assessment, property]) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Deudas_Tributarias %>
    <%= form.text_field :debt_taxation %>
  </div>

  <div class="field">
    <%= form.label :Antiguedad %>
    <%= form.number_field :antiquity %>
  </div>

  <div class="field">
    <%= form.label :Expropiación %>
    <%= form.check_box :expropriation %>
  </div>

  <div class="field">
    <%= form.label :Solera %>
    <%= form.check_box :sill %>
  </div>

  <div class="field">
    <%= form.label :Tasación %>
    <%= form.select :assessment_id, Assessment.pluck(:number_assesment, :id), prompt: 'Selecciona Nº de Tasación', class:"form-control selectpicker" %>
  </div>

  <div class="field">
    <%= form.label :Instalación %>
    <%= form.check_box :facilities %>
  </div>

   <div class="field">
    <%= form_with(model: [@assessment, @property, PropertyBetweenFloorSlap.new], local: true, url: [@property.assessment, @property, @property_between_floor_slap]) do |form_bfs| %>
      <div class="field">
          <%= form_bfs.select :between_floor_slaps_id,BetweenFloorSlap.pluck(:name,:id), prompt: 'Elige Entre Piso', class:'form-control' %>
      </div>

      <div class="field">
          <%= form_bfs.hidden_field :property_id, value: @property.id  %>
      </div>

      <div class="actions">        
      <%= form_bfs.submit 'Añadir', class:'btn btn-primary', method: :post%>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
