<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Deudas_Tributarias %>
    <%= form.number_field :debt_taxation %>
  </div>

  <div class="field">
    <%= form.label :Antiguedad %>
    <%= form.number_field :antiquity %>
  </div>

  <div class="field">
    <%= form.label :Expropiación %>
    <%= form.check_box :expropriation %>
  </div>

  <div class="field">
    <%= form.label :Solera %>
    <%= form.check_box :sill %>
  </div>

  <div class="field">
    <%= form.label :Tasación %>
    <%= form.select :assessment_id, Assessment.pluck(:number_assesment, :id), prompt: 'Selecciona Nº de Tasación', class:"form-control selectpicker" %>
  </div>

  <div class="field">
    <%= form.label :Instalación %>
    <%= form.check_box :facilities %>
  </div>
  
    <h2>Entre Piso</h2>
    <%= form.fields_for :property_between_floor_slaps do |property_bfs|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_bfs.label :name, "material:"%>
            <%= property_bfs.select :between_floor_slap_id, BetweenFloorSlap.pluck(:name,:id),prompt: "Material" , class:'form-control'%><br>
            <%= property_bfs.label :name, "Calidad:"%>
            <%= property_bfs.select :quality_id, Quality.pluck(:name,:id),prompt: "Calidad", class:'form-control'%><br>
        </div>
        </div>
    <% end %>

    <h2>Cuviertas</h2>
    <%= form.fields_for :property_covers do |property_cover|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_cover.label :name, "Material:"%>
            <%= property_cover.select :cover_id, Cover.pluck(:name,:id),prompt: "Material" , class:'form-control'%><br>
            <%= property_cover.label :observations, "Observaciones:"%>
            <%= property_cover.text_field :observations %><br>
            <%= property_cover.label :name, "Calidad:"%>
            <%= property_cover.select :quality_id, Quality.pluck(:name,:id),prompt: "Calidad", class:'form-control'%><br>      
        </div>
        </div>
    <% end %>

    <h2>Closets</h2>
    <%= form.fields_for :property_closets do |property_closet|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_closet.label :name, "Material:"%>
            <%= property_closet.select :closet_id, Closet.pluck(:name,:id),prompt: "Material" , class:'form-control'%><br>
            <%= property_closet.label :name, "Calidad:"%>
            <%= property_closet.select :qualities_id, Quality.pluck(:name,:id),prompt: "Calidad", class:'form-control'%><br>      
        </div>
        </div>
    <% end %>

    <h2>Puertas</h2>
    <%= form.fields_for :property_doors do |property_door|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_door.label :name, "Material:"%>
            <%= property_door.select :door_id, Door.pluck(:name,:id),prompt: "Material" , class:'form-control'%><br>
            <%= property_door.label :name, "Marco:"%>
            <%= property_door.select :door_frame_id, DoorFrame.pluck(:name,:id),prompt: "Marco" , class:'form-control'%><br>
            <%= property_door.label :name, "Calidad:"%>
            <%= property_door.select :quality_id, Quality.pluck(:name,:id),prompt: "Calidad", class:'form-control'%><br>      
        </div>
        </div>
    <% end %>

    <h2>Agua Potable</h2>
    <%= form.fields_for :property_drinking_waters do |property_dw|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_dw.label :name, "Material:"%>
            <%= property_dw.select :drinking_water_id, DrinkingWater.pluck(:name,:id),prompt: "Material" , class:'form-control'%><br>
            <%= property_dw.label :name, "Calidad:"%>
            <%= property_dw.select :quality_id, Quality.pluck(:name,:id),prompt: "Calidad", class:'form-control'%><br>      
        </div>
        </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
