<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Deudas_Tributarias %>
    <%= form.number_field :debt_taxation %>
  </div>

  <div class="field">
    <%= form.label :Antiguedad %>
    <%= form.number_field :antiquity %>
  </div>

  <div class="field">
    <%= form.label :Expropiación %>
    <%= form.check_box :expropriation %>
  </div>

  <div class="field">
    <%= form.label :Solera %>
    <%= form.check_box :sill %>
  </div>

  <div class="field">
    <%= form.label :Tasación %>
    <%= form.select :assessment_id, Assessment.pluck(:number_assesment, :id), prompt: 'Selecciona Nº de Tasación', class:"form-control selectpicker" %>
  </div>

  <div class="field">
    <%= form.label :Instalación %>
    <%= form.check_box :facilities %>
  </div>

  <h2>Entre Piso</h2>
    <%= form.fields_for :property_between_floor_slaps do |property_bfs|%>
        <div class="properties_fields"> 
        <div class="fields">  
            <%= property_bfs.label :name, "material:"%>
            <%= property_bfs.select :between_floor_slap_id, BetweenFloorSlap.pluck(:name,:id), prompt: "tipo entre pisos", class:'form-control'%><br>
            <%= property_bfs.label :name, "Calidad:"%>
            <%= property_bfs.select :quality_id, Quality.pluck(:name,:id), prompt: "calidad", class:'form-control'%><br>
        </div>
        </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
