<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Debt taxation</th>
      <th>Antiquity</th>
      <th>Expropriation</th>
      <th>Sill</th>
      <th>Assessment</th>
      <th>Facilities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.debt_taxation %></td>
        <td><%= property.antiquity %></td>
        <td><%= property.expropriation %></td>
        <td><%= property.sill %></td>
        <td><%= property.assessment %></td>
        <td><%= property.facilities %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
