<h1>
  <strong>Nº Tasación:</strong>
  <%= @property.assessment.number_assesment %>
</h1>
<h2><%= @property.name %></h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Urbanización</th>
            <th scope="col">Calzada</th>
            <th scope="col">solera</th>
            <th scope="col">Electricidad</th>
            <th scope="col">Agua potable</th>
            <th scope="col">Alcantarillado</th>
            <th scope="col">Expropieada</th>
            <th scope="col">Sector</th>
            <th scope="col">Ubicaciòn calle</th>
            <th scope="col">Forma Terreno</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">#</th>
                <% if @property.roads.any? %>
                    <ul>
                        <% @property.roads.each do |road| %>
                        <li><%= road.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                <td>    <p> - </p></td>
                <% end %> 

                <p>
                    <td><%= @property.sill %></td>
                </p>   

                <% if @property.electricities.any? %>
                    <ul>
                        <% @property.electricities.each do |electricitie| %>
                        <td><li><%= electricitie.name %></li></td>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> -</p></td>
                <% end %>     

                <% if @property.drinking_waters.any? %>
                    <ul>
                        <td><% @property.drinking_waters.each do |drinking_water| %></td>
                        <li><%= drinking_water.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> - </p>
                <% end %> 

                <% if @property.sewerages.any? %>
                    <ul>
                        <td><% @property.sewerages.each do |sewerage| %></td>
                        <li><%= sewerage.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> -</p></td>
                <% end %>       

                <p>
                    <td><%= @property.expropriation %></td>
                </p>

                <% if @property.sectors.any? %>
                    <ul>
                        <td><td><% @property.sectors.each do |sector| %></td></td>
                        <li><%= sector.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> - </p></td>
                <% end %> 

                <% if @property.street_locations.any? %>
                    <ul>
                        <td><% @property.street_locations.each do |street_location| %></td>
                        <li><%= street_location.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> - </p></td>
                <% end %>      

                <% if @property.land_shapes.any? %>
                    <ul>
                        <td><% @property.land_shapes.each do |land_shape| %></td>
                        <li><%= land_shape.name %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> - </p></td>
                <% end %>   
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Inmueble</th>
            <th scope="col">ROL (bloque - predial)</th>
            <th scope="col">Deuda CB.</th>
            <th scope="col">Antigüedad</th>
            <th scope="col">Tipo propiedad</th>
            <th scope="col">Alcantarillado</th>
            <th scope="col">Estructura</th>
            <th scope="col">Cubiertas</th>
            <th scope="col">Techumbre</th>
            <th scope="col">Cierros Exteriores</th>
            <th scope="col">Cierros Interiores</th>
            <th scope="col">Canales All</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">#</th>
                <% if @property.property_rols.any? %>
                    <ul>
                        <td><% @property.property_rols.each do |property_rol| %></td>
                        <li><%= property_rol.block %></li>
                        <li><%= property_rol.predial %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <td><p> -</p></td>
                <% end %> 

                    <p>
                    <td><%= @property.debt_taxation %></td>
                    </p> 

                    <p>
                    <td><%= @property.antiquity %> años</td>
                    
                    </p>      

                    <% if @property.property_types.any? %>
                        <ul>
                            <td><% @property.property_types.each do |property_type| %></td>
                            <li><%= property_type.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> - </p></td>
                    <% end %> 

                    <% if @property.structures.any? %>
                        <ul>
                            <td><% @property.structures.each do |structure| %></td>
                            <li><%= structure.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> -</p></td>
                    <% end %> 

                    <% if @property.covers.any? %>
                        <ul>
                            <td><% @property.covers.each do |cover| %></td>
                            <li><%= cover.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> -</p></td>
                    <% end %>  

                    <% if @property.roofings.any? %>
                    <ul>
                        <td><% @property.roofings.each do |roofing| %></td>
                        <li><%= roofing.name %></li>
                        <% end %>
                    </ul>
                    <% else %>
                        <td><p> -</p></td>
                    <% end %>   

                    <% if @property.exterior_closures.any? %>
                        <h5> Cierros Exteriores: </h5>
                        <ul>
                            <td><% @property.exterior_closures.each do |exterior_closure| %></td>
                            <li><%= exterior_closure.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> - </p></td>
                    <% end %>  

                    <% if @property.interior_closures.any? %>
                        <ul>
                            <td><% @property.interior_closures.each do |interior_closure| %></td>
                            <li><%= interior_closure.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> - </p></td>
                    <% end %>   

                    <% if @property.water_rain_ducts.any? %>
                        <ul>
                            <td><% @property.water_rain_ducts.each do |water_rain_duct| %></td>
                            <li><%= water_rain_duct.name %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <td><p> - </p></td>
                    <% end %>  
        </tr>
    </tbody>
</table>













<h2>Terreno y Edificacion</h2>

  <% if @property.sheds.any? %>
    <h5> Cobertizo: </h5>
    <ul>
        <% @property.sheds.each do |shed| %>
        <li><%= shed.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %> 

  <% if @property.pavements.any? %>
    <h5> Pavimento: </h5>
    <ul>
        <% @property.pavements.each do |pavement| %>
        <li><%= pavement.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %>  

  <% if @property.pools.any? %>
    <h5> Piscina: </h5>
    <ul>
        <% @property.pools.each do |pool| %>
        <li><%= pool.volumen %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %> 

<h2>Interior</h2>

    <% if @property.between_floor_slaps.any? %>
    <h5>Entre pisos:</h5>
    <ul>
        <% @property.between_floor_slaps.each do |between_floor_slap| %>
        <li><%= between_floor_slap.name %></li>
        <% end %>
    </ul>
    <% else %>
   <td> <p>- pisos</p>
    <% end %>

    <% if @property.dry_walls.any? %>
        <h5> Tabiquería: </h5>
        <ul>
            <% @property.dry_walls.each do |dry_wall| %>
            <li><%= dry_wall.name %></li>
            <% end %>
        </ul>
    <% else %>
        <td><p> -</p>
    <% end %>  

    <% if @property.heatings.any? %>
        <h5> Calefacción: </h5>
        <ul>
            <% @property.heatings.each do |heating| %>
            <li><%= heating.name %></li>
            <% end %>
        </ul>
    <% else %>
        <td><p> -</p>
    <% end %> 

  <% if @property.windows.any? %>
    <h5> Ventanas: </h5>
    <ul>
        <% @property.windows.each do |window| %>
        <li><%= window.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %>     

    <% if @property.doors.any? %>
    <h5> Puertas: </h5>
    <ul>
        <% @property.doors.each do |door| %>
        <li><%= door.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %>  
<p>
  <strong>Instalaciones:</strong>
  <%= @property.facilities %>
</p>

  <% if @property.door_frames.any? %>
    <h5> Marcos de puertas: </h5>
    <ul>
        <% @property.door_frames.each do |door_frame| %>
        <li><%= door_frame.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> - de puertas</p>
   <% end %>      
  
  <% if @property.closets.any? %>
    <h5> Closets: </h5>
    <ul>
        <% @property.closets.each do |closet| %>
        <li><%= closet.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %> 

  <% if @property.stairs.any? %>
    <h5> Escaleras: </h5>
    <ul>
        <% @property.stairs.each do |stair| %>
        <li><%= stair.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %>      

  <% if @property.toilet_artifacts.any? %>
    <h5> Artefactos sanitarios: </h5>
    <ul>
        <% @property.toilet_artifacts.each do |toilet_artifact| %>
        <li><%= toilet_artifact.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> - sanitarios</p>
   <% end %>    

    <% if @property.furnitures.any? %>
    <h5> Muebles: </h5>
    <ul>
        <% @property.furnitures.each do |furniture| %>
        <li><%= furniture.name %></li>
        <% end %>
    </ul>
    <% else %>
    <td><p> -</p>
    <% end %>   

    <% if @property.furniture_covers.any? %>
        <h5> Cubierta Muebles: </h5>
        <ul>
            <% @property.furniture_covers.each do |furniture_cover| %>
            <li><%= furniture_cover.name %></li>
            <% end %>
        </ul>
    <% else %>
        <td><p> - Muebles</p>
    <% end %>      

  <% if @property.maintenances.any? %>
    <h5> Mantención: </h5>
    <ul>
        <% @property.maintenances.each do |maintenance| %>
        <li><%= maintenance.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> -</p>
   <% end %>  

  <% if @property.housing_qualities.any? %>
    <h5> Calidad de Vivienda: </h5>
    <ul>
        <% @property.housing_qualities.each do |housing_qualitie| %>
        <li><%= housing_qualitie.name %></li>
        <% end %>
    </ul>
   <% else %>
    <td><p> - de Vivienda</p>
   <% end %>    

<%= link_to 'Editar', edit_property_path(@property) %> |
<%= link_to 'volver', assessment_path(@property.assessment.id) %>
