<h1>
  <strong>Nº Tasación:</strong>
  <%= @property.assessment.number_assesment %>
</h1>
<h2><%= @property.name %></h2>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Urbanización</h4>
        </div>
            <div class="row">
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Calzada</th>
                            </tr>    
                                <tbody>
                                    <% if @property.roads.any? %>
                                        <% @property.roads.each do |road| %>
                                        </tr>
                                            <td><%= road.name %></td>
                                        </tr>
                                        <% end %>
                                    <% else %>
                                    <tr>
                                        <td><p> - </p></td>
                                    </tr>
                                    <% end %> 
                                </tbody>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Solera</th>
                            </tr>    
                                <tbody>
                                    <tr>
                                        <td><%= @property.sill %></td>
                                    </tr>    
                                </tbody>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Electricidad</th>
                            </tr>
                                <tbody>
                                    <% if @property.electricities.any? %>
                                        <% @property.electricities.each do |electricitie| %>
                                            <tr>
                                            <td><%= electricitie.name %></td>
                                            </tr>
                                        <% end %> 
                                    <% else %>
                                    <tr>
                                        <td><p>-</p></td>
                                    </tr>
                                    <% end %>  
                                </tbody>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agua Potable</th>
                            </tr>
                                <tbody>
                                <% if @property.drinking_waters.any? %>
                                        <% @property.drinking_waters.each do |drinking_water| %>
                                        <tr>
                                        <td><%= drinking_water.name %></td>
                                        </tr>
                                        <% end %>
                                <% else %>
                                    <td><p> - </p>
                                <% end %>
                                </tbody>
                    </table>
                </div>



                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Alcantarillado</th>
                            </tr>
                                <tbody>
                                <% if @property.sewerages.any? %>
                                        <% @property.sewerages.each do |sewerage| %>
                                        <tr>
                                        <td><%= sewerage.name %></td>
                                        </tr>
                                        <% end %>
                                <% else %>
                                    <td><p> -</p></td>
                                <% end %>
                                </tbody>
                    </table>
                </div>



                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Expropieada</th>
                            </tr>
                                <tbody>
                                    <tr>
                                    <td><%= @property.expropriation %></td>
                                    </tr>
                                </tbody>
                    </table>
                </div>



                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sector</th>
                            </tr>
                                <tbody>
                                    <tr>
                                    <% if @property.sectors.any? %>
                                            <% @property.sectors.each do |sector| %>
                                            <tr>
                                                <td><%= sector.name %></td>
                                            </tr>
                                            <% end %>
                                    <% else %>
                                        <td><p> - </p></td>
                                    <% end %> 
                                    </tr>
                                </tbody>
                    </table>
                </div>


                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ubicación Calle</th>
                            </tr>
                                <tbody>
                                <% if @property.street_locations.any? %>
                                    <% @property.street_locations.each do |street_location| %>
                                        <tr>
                                        <td><%= street_location.name %></td>
                                        </tr>
                                        <% end %>
                                <% else %>
                                    <td><p> - </p></td>
                                <% end %> 
                                </tbody>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Forma Terreno</th>
                            </tr>
                                <tbody>
                                <% if @property.land_shapes.any? %>
                                        <% @property.land_shapes.each do |land_shape| %>
                                        <td><%= land_shape.name %></td>
                                        <% end %>
                                <% else %>
                                    <td><p> - </p></td>
                                <% end %>  
                                </tbody>
                    </table>
                </div>
            </div>
    </div>
  </div>
</div>   
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Inmueble</h4>
        </div>
            <div class="row">
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ROL</th>
                            </tr>    
                                <tbody>
                                <% if @property.property_rols.any? %>
                                    <tr>
                                        <% @property.property_rols.each do |property_rol| %>
                                        <td><%= property_rol.block %>-
                                        <%=property_rol.predial %></td>
                                        <% end %>
                                    </tr>
                                <% else %>
                                    <td><p> -</p></td>
                                <% end %> 
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Deuda tributaria</th>
                            </tr>    
                                <tbody>
                                  <td><%= @property.debt_taxation %></td>
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Antigüedad</th>
                            
                            </tr>    
                                <tbody>

                                <td><%= @property.antiquity %> años</td>
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                               <th scope="col">Tipo propiedad</th>
                            </tr>    
                                <tbody>
                                <% if @property.property_types.any? %>
                                <tr>
                                <% @property.property_types.each do |property_type| %>
                                <td><%= property_type.name %></td></tr>
                                <% end %>
                            
                        <% else %>
                            <td><p> - </p></td>
                        <% end %> 

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Estructura</th>
                            </tr>    
                                <tbody>
                                <% if @property.structures.any? %>
                                <tr>
                                <% @property.structures.each do |structure| %>
                               <td> <%= structure.name %></td></tr>
                                <% end %>
                            
                        <% else %>
                            <td><p> -</p></td>
                        <% end %> 

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Cubiertas</th>
                            </tr>    
                                <tbody>
                                <% if @property.covers.any? %>
                                <tr>
                                <% @property.covers.each do |cover| %>
                                    <td><%= cover.name %></td></tr>
                                <% end %>
                            
                        <% else %>
                            <td><p> -</p></td>
                        <% end %>  
    

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Techumbre</th>
                            </tr>    
                                <tbody>
                                <% if @property.roofings.any? %>
                                <tr>
                                <% @property.roofings.each do |roofing| %></tr>
                                    <td><%= roofing.name %></td>
                                <% end %>
                            
                            <% else %>
                                <td><p> -</p></td>
                            <% end %>   
        

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Cierros Exteriores</th>
                            </tr>    
                                <tbody>

                                <% if @property.exterior_closures.any? %>
                                
                                    <% @property.exterior_closures.each do |exterior_closure| %>
                                    <td><%= exterior_closure.name %></td>
                                    <% end %>
                                
                            <% else %>
                                <td><p> - </p></td>
                            <% end %>  

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Cierros Interiores</th>
                            </tr>    
                                <tbody>
                                <% if @property.interior_closures.any? %>
                        
                                <% @property.interior_closures.each do |interior_closure| %>
                                    <td><%= interior_closure.name %></td>
                                <% end %>
                            
                        <% else %>
                            <td><p> - </p></td>
                        <% end %>   

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Canales All</th>
                            </tr>    
                                <tbody>
                                <% if @property.water_rain_ducts.any? %>
                        
                                <% @property.water_rain_ducts.each do |water_rain_duct| %>
                                    <td><%= water_rain_duct.name %></td>
                                <% end %>
                            
                        <% else %>
                            <td><p> - </p></td>
                        <% end %> 

                                </tbody>
                    </table>
                </div>


            </div>
    </div>
  </div>
</div> 


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Terreno y Edificacion</h4>
        </div>
            <div class="row">
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                                <th scope="col">Covertizo</th>
                                <tbody>
                                <% if @property.sheds.any? %>
                                <tr>
                                    <% @property.sheds.each do |shed| %>
                                    <td><%= shed.name %></td>
                                </tr>
                                <% end %>
                               <% else %>
                                <td><p> -</p>
                               <% end %> 
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Pavimento</th>
                            </tr>    
                                <tbody>
                                <% if @property.pavements.any? %>
                                <tr>
                                    <% @property.pavements.each do |pavement| %>
                                    <td><%= pavement.name %></td></tr>
                                    <% end %>
                                
                               <% else %>
                                <td><p> -</p>
                               <% end %>  
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">               
                                <th scope="col">Piscina</th>
                            </tr>   
                                <tbody>
                                <% if @property.pools.any? %>    
                                <tr> <% @property.pools.each do |pool| %>
                                   <td> <%= pool.volumen %></td></tr>
                                    <% end %>      
                               <% else %>
                                <td><p> -</p>
                               <% end %> 
                                </tbody>
                    </table>
                </div>
            </div>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Interior</h4>
        </div>
            <div class="row">
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Entre pisos</th>
                            </tr>    
                                <tbody>
                                <% if @property.between_floor_slaps.any? %>
                                    <tr>
                                    <% @property.between_floor_slaps.each do |between_floor_slap| %>
                                    <td><%= between_floor_slap.name %></td></tr>
                                    <% end %>
                                
                                <% else %>
                               <td> <p>- pisos</p>
                                <% end %>

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                                <th scope="col">Tabiquería</th>
                            </tr>    
                                <tbody>
                                <% if @property.dry_walls.any? %>
                                <tr>
                                    <% @property.dry_walls.each do |dry_wall| %>
                                    <td><%= dry_wall.name %></td></tr>
                                    <% end %>    
                            <% else %>
                                <td><p> -</p>
                            <% end %>  
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Calefacción</th>
                            </tr>    
                                <tbody>
                                <% if @property.heatings.any? %>
                                <tr>
                                    <% @property.heatings.each do |heating| %>
                                   <td><%= heating.name %></td></tr>
                                    <% end %>
                            <% else %>
                                <td><p> -</p>
                            <% end %> 
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ventanas</th>
                            </tr>    
                                <tbody>
                                <% if @property.windows.any? %>
                                <tr>
                                    <% @property.windows.each do |window| %>
                                   <td><%= window.name %></td></tr>
                                    <% end %>
                               <% else %>
                                <td><p> -</p>
                               <% end %> 
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Puertas</th>
                            </tr>    
                                <tbody>
                                <% if @property.doors.any? %>
                                <tr>
                                    <% @property.doors.each do |door| %>
                                    <td><%= door.name %></td></tr>
                                    <% end %>
                                
                               <% else %>
                                <td><p> -</p>
                               <% end %>  

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Marcos de Puerta</th>
                            </tr>    
                                <tbody>

                                <% if @property.door_frames.any? %>

                                <tr>
                                    <% @property.door_frames.each do |door_frame| %>
                                    <td><%= door_frame.name %></td></tr>
                                    <% end %>
                               <% else %>
                                <td><p> - de puertas</p>
                               <% end %> 
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Closets</th>
                            </tr>    
                                <tbody>
                                <% if @property.closets.any? %>
                                <tr>
                                    <% @property.closets.each do |closet| %>
                                    <td><%= closet.name %></td></tr>
                                    <% end %>
                                
                               <% else %>
                                <td><p> -</p>
                               <% end %> 

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Escaleras</th>
                            </tr>    
                                <tbody>

                                <% if @property.stairs.any? %>
                                <tr>
                                    <% @property.stairs.each do |stair| %>
                                    <td><%= stair.name %></td></tr>
                                    <% end %>
                                
                               <% else %>
                                <td><p> -</p>
                               <% end %>      
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sanitarios</th>
                            </tr>    
                                <tbody>
                                <% if @property.toilet_artifacts.any? %>
                                <tr>        
                                    <% @property.toilet_artifacts.each do |toilet_artifact| %>
                                    <td><%= toilet_artifact.name %></td></tr>
                                    <% end %>
                                
                               <% else %>
                                <td><p> - sanitarios</p>
                               <% end %>    

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Muebles</th>
                            </tr>    
                                <tbody>
                                <% if @property.furnitures.any? %>
                                <tr>
                                
                                    <% @property.furnitures.each do |furniture| %>
                                    <td><%= furniture.name %></td></tr>
                                    <% end %>
                                
                                <% else %>
                                <td><p> -</p>
                                <% end %>   

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Cubierta Muebles</th>
                            </tr>    
                                <tbody>
                                <% if @property.furniture_covers.any? %>
                                <tr>
                                
                                    <% @property.furniture_covers.each do |furniture_cover| %>
                                    <td><%= furniture_cover.name %></td></tr>
                                    <% end %>
                                
                            <% else %>
                                <td><p> - Muebles</p>
                            <% end %> 
                            
                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Gas</th>
                            </tr>    
                                <tbody>
               
                                <td><p> - de </p>

                                </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Mantención</th>
                        </tr>    
                            <tbody>
                            <% if @property.maintenances.any? %>
                            <tr>
                                <% @property.maintenances.each do |maintenance| %>
                                <td><%= maintenance.name %></td></tr>
                                <% end %>
                            
                           <% else %>
                            <td><p> -</p>
                           <% end %>  

                            </tbody>
                </table>
            </div>
            <div class="col-md-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Calidad de Vivienda</th>
                    </tr>    
                        <tbody>
                        <% if @property.housing_qualities.any? %>
                        <tr>
                            <% @property.housing_qualities.each do |housing_qualitie| %>
                            <td><%= housing_qualitie.name %></td></tr>
                            <% end %>
                        
                       <% else %>
                        <td><p> - de Vivienda</p>
                       <% end %>

                        </tbody>
            </table>
        </div>

            </div>
    </div>
  </div>
</div>  
<%= link_to 'Editar', edit_property_path(@property) %> |
<%= link_to 'volver', assessment_path(@property.assessment.id) %>