<p id="notice"><%= notice %></p>

<h1>Property Doors</h1>

<table>
  <thead>
    <tr>
      <th>Door</th>
      <th>Door frame</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_doors.each do |property_door| %>
      <tr>
        <td><%= property_door.door %></td>
        <td><%= property_door.door_frame %></td>
        <td><%= property_door.property %></td>
        <td><%= link_to 'Show', property_door %></td>
        <td><%= link_to 'Edit', edit_property_door_path(property_door) %></td>
        <td><%= link_to 'Destroy', property_door, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Door', new_property_door_path %>
