<p id="notice"><%= notice %></p>

<p>
  <strong>Door:</strong>
  <%= @property_door.door %>
</p>

<p>
  <strong>Door frame:</strong>
  <%= @property_door.door_frame %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_door.property %>
</p>

<%= link_to 'Edit', edit_property_door_path(@property_door) %> |
<%= link_to 'Back', property_doors_path %>
