<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_roofing.property %>
</p>

<p>
  <strong>Roofing:</strong>
  <%= @property_roofing.roofing %>
</p>

<%= link_to 'Edit', edit_property_roofing_path(@property_roofing) %> |
<%= link_to 'Back', property_roofings_path %>
