<p id="notice"><%= notice %></p>

<h1>Property Maintenances</h1>

<table>
  <thead>
    <tr>
      <th>Maintenance</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_maintenances.each do |property_maintenance| %>
      <tr>
        <td><%= property_maintenance.maintenance %></td>
        <td><%= property_maintenance.property %></td>
        <td><%= link_to 'Show', property_maintenance %></td>
        <td><%= link_to 'Edit', edit_property_maintenance_path(property_maintenance) %></td>
        <td><%= link_to 'Destroy', property_maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Maintenance', new_property_maintenance_path %>
