<p id="notice"><%= notice %></p>

<p>
  <strong>Maintenance:</strong>
  <%= @property_maintenance.maintenance %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_maintenance.property %>
</p>

<%= link_to 'Edit', edit_property_maintenance_path(@property_maintenance) %> |
<%= link_to 'Back', property_maintenances_path %>
