<p id="notice"><%= notice %></p>

<h1>Property Housing Qualities</h1>

<table>
  <thead>
    <tr>
      <th>Housing quality</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_housing_qualities.each do |property_housing_quality| %>
      <tr>
        <td><%= property_housing_quality.housing_quality %></td>
        <td><%= property_housing_quality.property %></td>
        <td><%= link_to 'Show', property_housing_quality %></td>
        <td><%= link_to 'Edit', edit_property_housing_quality_path(property_housing_quality) %></td>
        <td><%= link_to 'Destroy', property_housing_quality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Housing Quality', new_property_housing_quality_path %>
