<p id="notice"><%= notice %></p>

<h1>Property Toilet Artifacts</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Toilet artifact</th>
      <th>Quality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_toilet_artifacts.each do |property_toilet_artifact| %>
      <tr>
        <td><%= property_toilet_artifact.property %></td>
        <td><%= property_toilet_artifact.toilet_artifact %></td>
        <td><%= property_toilet_artifact.quality %></td>
        <td><%= link_to 'Show', property_toilet_artifact %></td>
        <td><%= link_to 'Edit', edit_property_toilet_artifact_path(property_toilet_artifact) %></td>
        <td><%= link_to 'Destroy', property_toilet_artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Toilet Artifact', new_property_toilet_artifact_path %>
