<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_toilet_artifact.property %>
</p>

<p>
  <strong>Toilet artifact:</strong>
  <%= @property_toilet_artifact.toilet_artifact %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @property_toilet_artifact.quality %>
</p>

<%= link_to 'Edit', edit_property_toilet_artifact_path(@property_toilet_artifact) %> |
<%= link_to 'Back', property_toilet_artifacts_path %>
