<p id="notice"><%= notice %></p>

<h1>Furniture Covers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @furniture_covers.each do |furniture_cover| %>
      <tr>
        <td><%= furniture_cover.name %></td>
        <td><%= furniture_cover.value %></td>
        <td><%= link_to 'Show', furniture_cover %></td>
        <td><%= link_to 'Edit', edit_furniture_cover_path(furniture_cover) %></td>
        <td><%= link_to 'Destroy', furniture_cover, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Furniture Cover', new_furniture_cover_path %>
