<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @furniture_cover.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @furniture_cover.value %>
</p>

<%= link_to 'Edit', edit_furniture_cover_path(@furniture_cover) %> |
<%= link_to 'Back', furniture_covers_path %>
