<p id="notice"><%= notice %></p>

<h1>Property Closets</h1>

<table>
  <thead>
    <tr>
      <th>Closet</th>
      <th>Property</th>
      <th>Qualities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_closets.each do |property_closet| %>
      <tr>
        <td><%= property_closet.closet %></td>
        <td><%= property_closet.property %></td>
        <td><%= property_closet.qualities %></td>
        <td><%= link_to 'Show', property_closet %></td>
        <td><%= link_to 'Edit', edit_property_closet_path(property_closet) %></td>
        <td><%= link_to 'Destroy', property_closet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Closet', new_property_closet_path %>
