<p id="notice"><%= notice %></p>

<p>
  <strong>Closet:</strong>
  <%= @property_closet.closet %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_closet.property %>
</p>

<p>
  <strong>Qualities:</strong>
  <%= @property_closet.qualities %>
</p>

<%= link_to 'Edit', edit_property_closet_path(@property_closet) %> |
<%= link_to 'Back', property_closets_path %>
