<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enlargements_quality.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @enlargements_quality.value %>
</p>

<%= link_to 'Edit', edit_enlargements_quality_path(@enlargements_quality) %> |
<%= link_to 'Back', enlargements_qualities_path %>
