<p id="notice"><%= notice %></p>

<h1>Stairs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stairs.each do |stair| %>
      <tr>
        <td><%= stair.name %></td>
        <td><%= stair.value %></td>
        <td><%= link_to 'Show', stair %></td>
        <td><%= link_to 'Edit', edit_stair_path(stair) %></td>
        <td><%= link_to 'Destroy', stair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stair', new_stair_path %>
