<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stair.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @stair.value %>
</p>

<%= link_to 'Edit', edit_stair_path(@stair) %> |
<%= link_to 'Back', stairs_path %>
