<p id="notice"><%= notice %></p>

<h1>Sheds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheds.each do |shed| %>
      <tr>
        <td><%= shed.name %></td>
        <td><%= link_to 'Show', shed %></td>
        <td><%= link_to 'Edit', edit_shed_path(shed) %></td>
        <td><%= link_to 'Destroy', shed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shed', new_shed_path %>
