<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @electricity.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @electricity.value %>
</p>

<%= link_to 'Edit', edit_electricity_path(@electricity) %> |
<%= link_to 'Back', electricities_path %>
