<p id="notice"><%= notice %></p>

<h1>Property Interior Closures</h1>

<table>
  <thead>
    <tr>
      <th>Other</th>
      <th>Property</th>
      <th>Interior closure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_interior_closures.each do |property_interior_closure| %>
      <tr>
        <td><%= property_interior_closure.other %></td>
        <td><%= property_interior_closure.property %></td>
        <td><%= property_interior_closure.interior_closure %></td>
        <td><%= link_to 'Show', property_interior_closure %></td>
        <td><%= link_to 'Edit', edit_property_interior_closure_path(property_interior_closure) %></td>
        <td><%= link_to 'Destroy', property_interior_closure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Interior Closure', new_property_interior_closure_path %>
