<p id="notice"><%= notice %></p>

<p>
  <strong>Other:</strong>
  <%= @property_interior_closure.other %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_interior_closure.property %>
</p>

<p>
  <strong>Interior closure:</strong>
  <%= @property_interior_closure.interior_closure %>
</p>

<%= link_to 'Edit', edit_property_interior_closure_path(@property_interior_closure) %> |
<%= link_to 'Back', property_interior_closures_path %>
