<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @maintenance.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @maintenance.value %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
