<p id="notice"><%= notice %></p>

<h1>Sector Characteristics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sector_characteristics.each do |sector_characteristic| %>
      <tr>
        <td><%= sector_characteristic.name %></td>
        <td><%= sector_characteristic.value %></td>
        <td><%= link_to 'Show', sector_characteristic %></td>
        <td><%= link_to 'Edit', edit_sector_characteristic_path(sector_characteristic) %></td>
        <td><%= link_to 'Destroy', sector_characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sector Characteristic', new_sector_characteristic_path %>
