<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sector_characteristic.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sector_characteristic.value %>
</p>

<%= link_to 'Edit', edit_sector_characteristic_path(@sector_characteristic) %> |
<%= link_to 'Back', sector_characteristics_path %>
