<p id="notice"><%= notice %></p>

<h1>Dry Walls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dry_walls.each do |dry_wall| %>
      <tr>
        <td><%= dry_wall.name %></td>
        <td><%= dry_wall.value %></td>
        <td><%= link_to 'Show', dry_wall %></td>
        <td><%= link_to 'Edit', edit_dry_wall_path(dry_wall) %></td>
        <td><%= link_to 'Destroy', dry_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dry Wall', new_dry_wall_path %>
