<p id="notice"><%= notice %></p>

<h1>Property Between Floor Slaps</h1>

<table>
  <thead>
    <tr>
      <th>Between floor slap</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_between_floor_slaps.each do |property_between_floor_slap| %>
      <tr>
        <td><%= property_between_floor_slap.between_floor_slap.name %></td>
        <td><%= property_between_floor_slap.property.id %></td>
        <td><%= link_to 'Show', assessment_property_property_between_floor_slap_path(property_between_floor_slap.property.assessment.id, property_between_floor_slap.property, property_between_floor_slap) %></td>
        <td><%= link_to 'Edit', edit_assessment_property_property_between_floor_slap_path(property_between_floor_slap.property.assessment.id, property_between_floor_slap.property, property_between_floor_slap) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
