<p id="notice"><%= notice %></p>

<p>
  <strong>Between floor slap:</strong>
  <%= @property_between_floor_slap.between_floor_slap %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_between_floor_slap.property %>
</p>

<%= link_to 'Edit', edit_property_between_floor_slap_path(@property_between_floor_slap) %> |
<%= link_to 'Back', property_between_floor_slaps_path %>
