<%= form_with(model: property_shed, local: true) do |form| %>
  <% if property_shed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_shed.errors.count, "error") %> prohibited this property_shed from being saved:</h2>

      <ul>
      <% property_shed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shed_id %>
    <%= form.text_field :shed_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :shed_material_id %>
    <%= form.text_field :shed_material_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
