<p id="notice"><%= notice %></p>

<p>
  <strong>Shed:</strong>
  <%= @property_shed.shed %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_shed.property %>
</p>

<p>
  <strong>Shed material:</strong>
  <%= @property_shed.shed_material %>
</p>

<%= link_to 'Edit', edit_property_shed_path(@property_shed) %> |
<%= link_to 'Back', property_sheds_path %>
