<%= form_with(model: property_sidewalk, local: true) do |form| %>
  <% if property_sidewalk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_sidewalk.errors.count, "error") %> prohibited this property_sidewalk from being saved:</h2>

      <ul>
      <% property_sidewalk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :side_walk_id %>
    <%= form.text_field :side_walk_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.text_field :width %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
