<p id="notice"><%= notice %></p>

<h1>Property Sidewalks</h1>

<table>
  <thead>
    <tr>
      <th>Side walk</th>
      <th>Property</th>
      <th>Width</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_sidewalks.each do |property_sidewalk| %>
      <tr>
        <td><%= property_sidewalk.side_walk %></td>
        <td><%= property_sidewalk.property %></td>
        <td><%= property_sidewalk.width %></td>
        <td><%= link_to 'Show', property_sidewalk %></td>
        <td><%= link_to 'Edit', edit_property_sidewalk_path(property_sidewalk) %></td>
        <td><%= link_to 'Destroy', property_sidewalk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Sidewalk', new_property_sidewalk_path %>
