<p id="notice"><%= notice %></p>

<h1>Property Sectors</h1>

<table>
  <thead>
    <tr>
      <th>Distance</th>
      <th>Property</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_sectors.each do |property_sector| %>
      <tr>
        <td><%= property_sector.distance %></td>
        <td><%= property_sector.property %></td>
        <td><%= property_sector.sector %></td>
        <td><%= link_to 'Show', property_sector %></td>
        <td><%= link_to 'Edit', edit_property_sector_path(property_sector) %></td>
        <td><%= link_to 'Destroy', property_sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Sector', new_property_sector_path %>
