<p id="notice"><%= notice %></p>

<h1>Property Sec Characteristics</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Sector characteristic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_sec_characteristics.each do |property_sec_characteristic| %>
      <tr>
        <td><%= property_sec_characteristic.property %></td>
        <td><%= property_sec_characteristic.sector_characteristic %></td>
        <td><%= link_to 'Show', property_sec_characteristic %></td>
        <td><%= link_to 'Edit', edit_property_sec_characteristic_path(property_sec_characteristic) %></td>
        <td><%= link_to 'Destroy', property_sec_characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Sec Characteristic', new_property_sec_characteristic_path %>
