<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_sec_characteristic.property %>
</p>

<p>
  <strong>Sector characteristic:</strong>
  <%= @property_sec_characteristic.sector_characteristic %>
</p>

<%= link_to 'Edit', edit_property_sec_characteristic_path(@property_sec_characteristic) %> |
<%= link_to 'Back', property_sec_characteristics_path %>
