<%= form_with(model: property_sewerage, local: true) do |form| %>
  <% if property_sewerage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_sewerage.errors.count, "error") %> prohibited this property_sewerage from being saved:</h2>

      <ul>
      <% property_sewerage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sewerage_id %>
    <%= form.text_field :sewerage_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
