<p id="notice"><%= notice %></p>

<h1>Property Structures</h1>

<table>
  <thead>
    <tr>
      <th>Observations</th>
      <th>Property</th>
      <th>Structure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_structures.each do |property_structure| %>
      <tr>
        <td><%= property_structure.observations %></td>
        <td><%= property_structure.property %></td>
        <td><%= property_structure.structure %></td>
        <td><%= link_to 'Show', property_structure %></td>
        <td><%= link_to 'Edit', edit_property_structure_path(property_structure) %></td>
        <td><%= link_to 'Destroy', property_structure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Structure', new_property_structure_path %>
