<p id="notice"><%= notice %></p>

<p>
  <strong>Observations:</strong>
  <%= @property_structure.observations %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_structure.property %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @property_structure.structure %>
</p>

<%= link_to 'Edit', edit_property_structure_path(@property_structure) %> |
<%= link_to 'Back', property_structures_path %>
