<p id="notice"><%= notice %></p>

<h1>Property Extern Terminations</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>External termination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_extern_terminations.each do |property_extern_termination| %>
      <tr>
        <td><%= property_extern_termination.property %></td>
        <td><%= property_extern_termination.external_termination %></td>
        <td><%= link_to 'Show', property_extern_termination %></td>
        <td><%= link_to 'Edit', edit_property_extern_termination_path(property_extern_termination) %></td>
        <td><%= link_to 'Destroy', property_extern_termination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Extern Termination', new_property_extern_termination_path %>
