<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_extern_termination.property %>
</p>

<p>
  <strong>External termination:</strong>
  <%= @property_extern_termination.external_termination %>
</p>

<%= link_to 'Edit', edit_property_extern_termination_path(@property_extern_termination) %> |
<%= link_to 'Back', property_extern_terminations_path %>
