<p id="notice"><%= notice %></p>

<h1>Service Yards</h1>

<table>
  <thead>
    <tr>
      <th>Img</th>
      <th>Mts2</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_yards.each do |service_yard| %>
      <tr>
        <td><%= service_yard.img %></td>
        <td><%= service_yard.mts2 %></td>
        <td><%= service_yard.property %></td>
        <td><%= link_to 'Show', service_yard %></td>
        <td><%= link_to 'Edit', edit_service_yard_path(service_yard) %></td>
        <td><%= link_to 'Destroy', service_yard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Yard', new_service_yard_path %>
