<p id="notice"><%= notice %></p>

<h1>Service Yards</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Mts2</th>
      <th>Propiedad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_yards.each do |service_yard| %>
      <tr>
        <td><%= service_yard.img %></td>
        <td><%= service_yard.mts2 %></td>
        <td><%= service_yard.property_id %></td>
        <td><%= link_to 'Detalles', service_yard %></td>
        <td><%= link_to 'Editar', edit_service_yard_path(service_yard) %></td>
        <td><%= link_to 'Eliminar', service_yard, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo patio de servicio', new_service_yard_path %>
