<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= image_tag(@service_yard.img.url, alt: 'Image') %>
</p>

<p>
  <strong>Mts2:</strong>
  <%= @service_yard.mts2 %>
</p>

<p>
  <strong>Property:</strong>
  <%= @service_yard.property_id %>
</p>

<%= link_to 'Editar', edit_service_yard_path(@service_yard) %> |
<%= link_to 'Volver', service_yards_path %>
