<p id="notice"><%= notice %></p>

<% if @service_yard.attachments? %>
  <ul>
    <% @service_yard.attachments.each do |attachment| %>
      <li><%= link_to(image_tag(attachment.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <strong>Mts2:</strong>
  <%= @service_yard.mts2 %>
</p>

<p>
  <strong>Property:</strong>
  <%= @service_yard.property_id %>
</p>

<%= link_to 'Editar', edit_service_yard_path(@service_yard) %> |
<%= link_to 'Volver', service_yards_path %>
