<%= form_with(model: property_rol, local: true) do |form| %>
  <% if property_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_rol.errors.count, "error") %> prohibited this property_rol from being saved:</h2>

      <ul>
      <% property_rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :block %>
    <%= form.number_field :block %>
  </div>

  <div class="field">
    <%= form.label :predial %>
    <%= form.number_field :predial %>
  </div>

  <div class="field">
    <%= form.label :province_id %>
    <%= form.text_field :province_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
