<p id="notice"><%= notice %></p>

<h1>Property Rols</h1>

<table>
  <thead>
    <tr>
      <th>Block</th>
      <th>Predial</th>
      <th>Province</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_rols.each do |property_rol| %>
      <tr>
        <td><%= property_rol.block %></td>
        <td><%= property_rol.predial %></td>
        <td><%= property_rol.province %></td>
        <td><%= property_rol.property %></td>
        <td><%= link_to 'Show', property_rol %></td>
        <td><%= link_to 'Edit', edit_property_rol_path(property_rol) %></td>
        <td><%= link_to 'Destroy', property_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Rol', new_property_rol_path %>
