<p id="notice"><%= notice %></p>

<p>
  <strong>Block:</strong>
  <%= @property_rol.block %>
</p>

<p>
  <strong>Predial:</strong>
  <%= @property_rol.predial %>
</p>

<p>
  <strong>Province:</strong>
  <%= @property_rol.province %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_rol.property %>
</p>

<%= link_to 'Edit', edit_property_rol_path(@property_rol) %> |
<%= link_to 'Back', property_rols_path %>
