<p id="notice"><%= notice %></p>

<p>
  <strong>Pavement:</strong>
  <%= @property_pavement.pavement %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_pavement.property %>
</p>

<%= link_to 'Edit', edit_property_pavement_path(@property_pavement) %> |
<%= link_to 'Back', property_pavements_path %>
