<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_road.property %>
</p>

<p>
  <strong>Road:</strong>
  <%= @property_road.road %>
</p>

<%= link_to 'Edit', edit_property_road_path(@property_road) %> |
<%= link_to 'Back', property_roads_path %>
