<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @external_termination.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @external_termination.value %>
</p>

<%= link_to 'Edit', edit_external_termination_path(@external_termination) %> |
<%= link_to 'Back', external_terminations_path %>
