
<% 
=begin %>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">  Bienvenid@: <%= current_user.email if user_signed_in?  %></a>
          </div>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          
        </div>
      </nav>
<%
=end %> 


<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
  <div class="navbar-wrapper">
    <a class="navbar-brand" href="<%= assessments_path %>">CRAF SOLUTIONS</a>
  </div>
<% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          
        <a class="nav-link" href="<%= assessments_path %>">
          <i class="material-icons">home</i>
          <p>Inicio <span class="sr-only">(current)</span></p>
        </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" href=" <%= clients_path %> ">
            <i class="material-icons">person</i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=" <%= assessments_path %>">
              <i class="material-icons">content_paste</i>
              <p>Lista Tasaciones</p>
            </a>
          </li>
    </ul>
  </div>
  <div class="navbar-wrapper">
      <a class="navbar-item">  Bienvenid@: <%= current_user.first_name if user_signed_in?  %></a>
  </div>
  <div class="collapse navbar-collapse right-content-end">
      <ul class="navbar-nav">
        
      <% if user_signed_in? %>
      <li class="nav-item">
          <a class="nav-link" href="<%= edit_user_registration_path %>">Editar Perfil</a>
      </li>

      <li class="nav-item">
          <a class="navbar-item"  data-method="delete" href="<%= destroy_user_session_path %>">Salir</a>        
      </li>
      <% end %>
        </ul>
      </div>
  </div>
<% end %>

</nav>