<p id="notice"><%= notice %></p>

<h1>Door Frames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @door_frames.each do |door_frame| %>
      <tr>
        <td><%= door_frame.name %></td>
        <td><%= door_frame.value %></td>
        <td><%= link_to 'Show', door_frame %></td>
        <td><%= link_to 'Edit', edit_door_frame_path(door_frame) %></td>
        <td><%= link_to 'Destroy', door_frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Door Frame', new_door_frame_path %>
