<%= form_with(model: property_furniture, local: true) do |form| %>
  <% if property_furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_furniture.errors.count, "error") %> prohibited this property_furniture from being saved:</h2>

      <ul>
      <% property_furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :furniture_id %>
    <%= form.text_field :furniture_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :furniture_cover_id %>
    <%= form.text_field :furniture_cover_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
