<p id="notice"><%= notice %></p>

<p>
  <strong>Furniture:</strong>
  <%= @property_furniture.furniture %>
</p>

<p>
  <strong>Property:</strong>
  <%= @property_furniture.property %>
</p>

<p>
  <strong>Furniture cover:</strong>
  <%= @property_furniture.furniture_cover %>
</p>

<%= link_to 'Edit', edit_property_furniture_path(@property_furniture) %> |
<%= link_to 'Back', property_furnitures_path %>
